{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
   <!-- ============================ COMPONENT 1 ================================= -->
        
    <form action="{% url 'place_order' %}" method="POST">
    {% csrf_token %}
        <div class="row">
            <aside class="col-lg-6">

                <div class="card mb-4">
                    <div class="card-body">
                        <div class="form-row">
                            <h4 class="card-title mr-2">Billing Address</h4>
                            <a href="" class="btn btn-primary text-right ml-2">Tambah Alamat</a>
                        </div>
                        <div class="form-row">
                            {% for obj in address %}
                                <p class="col-mr-2">Name: {{obj.name}}</p>
                                <p class="col-mr-2">Phone: {{obj.phone}}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div> <!-- card.// -->
                <!-- Bill Address -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Billing Address</h4>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="">First Name</label>
                                    <input type="text" name="first_name" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label for="">Last Name</label>
                                    <input type="text" name="last_name" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="">Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label for="">Phone Number</label>
                                    <input type="number" name="phone" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Address 1</label>
                                <input type="text" name="address_line_1" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="">Address 2</label>
                                <input type="text" name="address_line_2" class="form-control">
                            </div>

                            <!-- <div class="form-row">
                                <div class="col form-group">
                                    <label for="">City</label>
                                    <input type="text" name="city" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label for="">State</label>
                                    <input type="text" name="state" class="form-control" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col form-group">
                                    <label for="">Country</label>
                                    <input type="text" name="country" class="form-control" required>
                                </div>
                                <div class="col form-group">
                                    <label for="">Postcode</label>
                                    <input type="number" name="postcode" class="form-control" required>
                                </div>
                            </div> -->
                            
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Province</label>
                                    <select class="custom-select d-block w-100" name="province_id" id="province_id" required>
                                        <option value="">-- Province --</option>
                                        {% for province in prov %}
                                            <option value="{{ province.id }}">{{ province.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div> <!-- form-group end.// -->
                                <div class="col form-group">
                                    <label>Kota</label>
                                    <select class="custom-select d-block w-100" name="city_id" id="city_id" required>
                                        <option value="">-- Null --</option>
                                    </select>
                                </div> <!-- form-group end.// -->

                                <div class="col form-group">
                                    <label>Kecamatan</label>
                                    <select class="custom-select d-block w-100" name="district_id" id="district_id" required>
                                        <option value="">-- Null --</option>
                                    </select>
                                </div> <!-- form-group end.// -->
                            </div> <!-- form-row end.// -->
                            
                            <div class="form-row">
                                <label for="">Order Note</label>
                                <textarea class="form-control" name="order_note" id="" rows="2"></textarea>
                            </div>
                        
                    </div>
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
            
            <aside class="col-lg-6">
                <!-- Ongkir -->
                <div class="card">
                    <div class="card-body">
                        
                        <!-- <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th width="130">Courier</th>
                                    <th width="150">Weight</th>
                                    <th width="150">Ongkos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <select class="form-control" name="courier" id="courier" >
                                            <option value="">-- Null --</option>
                                        </select>
                                    </td>
                                    <td>
                                        <a name="weight"><span id="weight">{{total_weight}} gram</span></a>
                                    </td>
                                    <td> 
                                        <span id="ongkir">Rp. 0</span>
                                    </td>
                                </tr>
                                <tr>
                                </tr> 
                            </tbody>
                        </table> -->

                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">Weight :</label>
                                <span class="d-inline-flex p-2"><strong>{{total_weight}} </strong>gram</span>
                            </div>
                            <div class="col form-group">
                                <label for="">Cost :</label>
                                <span class="d-inline-flex p-2" name="ongkir"><strong id="ongkir">Rp. 0</strong></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col form-group">
                                <label for="">Courier</label>
                                <select class="form-control" name="courier" id="courier" required >
                                    <option value="">-- Null --</option>
                                </select>
                            </div>
                            <div class="col form-group">
                                <label for="">Service</label>
                                <select class="form-control" name="service" id="service" required>
                                    <option value="">--Null--</option>
                                </select>
                            </div>

                        </div>
                        
                        
                        <br>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Service</th>
                                    <th>Cost</th>
                                    <th>Estimasi</th>
                                </tr>
                            </thead>
                            <tbody id="pengiriman">
                                <tr></tr>
                            </tbody>
                        </table>
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
                <br>
                
                <!-- Product Checkout -->
                <div class="card">
                    <div class="card-body">      
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
                                <tr class="small text-uppercase">
                                    <th scope="col">Product</th>
                                    <th scope="col" width="120">Quantity</th>
                                    <th scope="col" width="120">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for cart_item in cart_items %}
                                <tr>
                                    <td>
                                        <figure class="itemside align-items-center">
                                            <div class="aside"><img src="{{cart_item.product.images.url}}" class="img-sm"></div>
                                            <figcaption class="info">
                                                <a href="{{ cart_item.product.get_url }}" class="title text-dark">{{cart_item.product.product_name}}</a>
                                                <p class="text-muted small">
                                                    {% if cart_item.variation.all %}
                                                        {% for item in cart_item.variation.all %}
                                                            {{ item.varian_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                                        {% endfor %}
                                                    {% endif %}
            
                                                </p>
                                            </figcaption>
                                        </figure>
                                    </td>
                                    <td>
                                        <label for="">{{cart_item.quantity}}</label>
                                    </td>
                                    <td> 
                                        <div class="price-wrap"> 
                                            <var class="price">Rp.{{cart_item.sub_total}}</var> 
                                            <small class="text-muted"> Rp.{{cart_item.product.price}} each </small> 
                                        </div> <!-- price-wrap .// -->
                                    </td>
                                    
                                </tr>
                            {% endfor %}    
                            </tbody>
                        </table>                        
                        <button type="submit " name="submit" class="btn btn-primary btn-block">Place Order </button>
                        <a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
                        
                    </div> <!-- card-body.// -->
                </div> <!-- card.// -->
            </aside> <!-- col.// -->
        </div> <!-- row.// --> 
   <!-- ============================ COMPONENT 1 END .// ================================= -->
    </form>
   </div> <!-- container .//  -->
</section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}

{% block script %}
<script>
    function getCookie(name) {
        var cookieValue = null

        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';')

            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim()
                
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1))

                    break
                }
            }
        }

        return cookieValue
    }

    function submitForm(){
        var form = document.getElementsByName('address_form')[0];
        form.submit()
        form.reset()
        return false
    }

    $(document).ready(function(){
        //KETIKA SELECT BOX DENGAN ID province_id DIPILIH
        $('#province_id').on('change', function() {
            //MAKA AKAN MELAKUKAN REQUEST KE URL /API/CITY
            //DAN MENGIRIMKAN DATA PROVINCE_ID
            
            $.ajax({
                url: `/accounts/city/`,
                type: "GET",
                data: { province_id: $(this).val() },
                success: function(html){
                    //SETELAH DATA DITERIMA, SEMUA SELEBOX DIKOSONGKAN
                    $('#city_id').empty()
                    $('#district_id').empty()
                    $('#courier').empty()
                    $('#pengiriman').empty()
                    $('#service').empty()           
                    $('#ongkir').empty()           
                    
                    //KEMUDIAN APPEND DATA BARU YANG DIDAPATKAN DARI HASIL REQUEST VIA AJAX
                    //UNTUK MENAMPILKAN DATA KABUPATEN / KOTA DAN DATA LAINNYA
                    $('#city_id').append('<option value="">Pilih Kabupaten/Kota</option>')
                    $('#district_id').append('<option value="">--Null--</option>')
                    $('#courier').append('<option value="">--Null--</option>')
                    $('#pengiriman').append('<tr><tr/>')
                    $('#service').append('<option value="">--Null--</option>')
                    $('#ongkir').text('Rp. 0')
                    //Loop Data City
                    $.each(html.data, function(key, city) {
                        $('#city_id').append('<option value="'+city.id+'">'+city.name+'</option>')
                    })
                }
            });
        })

        //LOGICNYA SAMA DENGAN CODE DIATAS HANYA BERBEDA OBJEKNYA SAJA
        $('#city_id').on('change', function() {
            $.ajax({
                url: '/accounts/district/',
                type: "GET",
                data: { city_id: $(this).val() },
                success: function(html){
                    console.log(html)
                    $('#district_id').empty()
                    $('#district_id').append('<option value="">Pilih Kecamatan</option>')
                    $('#courier').empty()
                    $('#courier').append('<option value="">--Null--</option>')
                    $('#pengiriman').empty()
                    $('#pengiriman').append('<tr><tr/>')
                    $('#service').empty()           
                    $('#service').append('<option value="">--Null--</option>')
                    $('#ongkir').empty()
                    $('#ongkir').text('Rp. 0'); 
                    $.each(html.data, function(key, district) {
                        $('#district_id').append('<option value="'+district.id+'">'+district.name+'</option>')
                    })
                }
            });
        })

        //JIKA KECAMATAN DIPILIH
        $('#district_id').on('change', function() {
            //MEMBUAT EFEK LOADING SELAMA PROSES REQUEST BERLANGSUNG
            $('#courier').empty()
            $('#service').empty()           
            $('#ongkir').empty() 
            $('#pengiriman').empty()

            //setelah mendapatkan request data kurir 
            $('#courier').append(`
                <option value="">-- Pilih Kurir --</option>
                <option value="jne">JNE</option>
                <option value="pos">Pos Indonesia</option>
                <option value="tiki">TIKI</option>
            `)
            $('#pengiriman').append('<tr><tr/>')
            $('#service').append('<option value="">--Null--</option>')
            $('#ongkir').text('Rp. 0')
        })
        // JIKA KURIR DIPILIH
        $('#courier').on('change', function() {
        //MENGIRIM PERMINTAAN KE SERVER UNTUK MENGAMBIL DATA API
        $.ajax({
            url: "/cart/cost/",
            type: "POST",
            headers : {
                'X-CSRFToken': getCookie('csrftoken'),
            },
            data: { 
                destination: $('#city_id').val(), 
                weight: "{{total_weight}}",
                courier: $('#courier').val() 
            },
            success: function(html){
                //BERSIHKAN AREA SELECT BOX
                console.log('data', html)

                $('#service').empty()              
                $('#service').append('<option value="">Pilih Service</option>')

                //LOOPING DATA ONGKOS KIRIM
                
                $.each(html.data.costs, function(key, item) {
                    console.log('data', html)
                    let service = item.service
                    let description = item.description
                    let cost = item.cost[0]['value']
                    let etd = item.cost[0]['etd']

                    //UPDATE INFORMASI BIAYA PENGIRIMAN
                    $('#pengiriman').append(
                        '<tr>\
                            <td>('+service+')' +description+'</td>\
                            <td>Rp. '+cost+'</td>\
                            <td>'+ etd +' day</td>\
                        <tr/>' 
                    );
                    //updata service
                    $('#service').append(
                        '<option value="'+cost+'">('+service+') '+description+'</option>');
                })
            
            }
            });
        })

        $('#service').on('change', function () {              
            let split = $(this).val().split('-')
            $('#ongkir').text('Rp. ' + split[0]);

        })

    });
</script>
{% endblock script %}