{% if messages %}
    {% for message in messages %}
    <div id="message" class="container">
        <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show"{% endif %} role="alert">
            <span class="alert-icon"><i class="ni ni-like-2"></i></span>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} <span class="alert-text"> Error: </span>{% endif %}
            <span class="alert-text"><strong>{{ message }} !</strong></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    {% endfor %}
{% endif %}