{% extends 'appadmin/base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %}

<div class="header bg-primary">
    <div class="container-fluid">
        <div class="header-body">
        <div class="row align-items-center">
            <div class="col-lg-6 col-8">
                <nav aria-label="breadcrumb" class="d-md-inline-block">
                    <ol class="breadcrumb ">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item active"><a href="{% url 'customers' %}">Customers</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Customer All</li>
                    </ol>
                </nav>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>Authors</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Author</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employed</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in customer %}
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                            <img src="{{obj.profile_picture.url}}" class="avatar avatar-sm me-3" alt="user1">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                            <h6 class="mb-0 text-sm">{{obj.user.full_name}}</h6>
                                            <p class="text-xs text-secondary mb-0">{{obj.user.email}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">{{obj.user.username}}</p>
                                    <p class="text-xs text-secondary mb-0">{{obj.user.phone_number}}</p>
                                </td>
                                <td>
                                    <p class="text-xs font-weight-bold mb-0">Staff: {{obj.user.is_staff}}</p>
                                    <p class="text-xs text-secondary mb-0">Customer: {{obj.user.is_active}}</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                <span class="badge badge-sm bg-gradient-success">Online</span>
                                </td>
                                <td class="align-middle text-center">
                                    <p class="text-xs font-weight-bold mb-0">{{obj.user.last_login}}</p>
                                    <p class="text-xs text-secondary mb-0">{{obj.user.date_joined}}</p>
                                </td>
                                <td class="align-middle">
                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                    Edit
                                </a>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                <div class="d-flex px-2 py-1">
                                    <div>
                                    <img src="../assets/img/team-3.jpg" class="avatar avatar-sm me-3" alt="user2">
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                    <h6 class="mb-0 text-sm">Alexa Liras</h6>
                                    <p class="text-xs text-secondary mb-0">alexa@creative-tim.com</p>
                                    </div>
                                </div>
                                </td>
                                <td>

                                </td>
                                <td>
                                <p class="text-xs font-weight-bold mb-0">Programator</p>
                                <p class="text-xs text-secondary mb-0">Developer</p>
                                </td>
                                <td class="align-middle text-center text-sm">
                                <span class="badge badge-sm bg-gradient-secondary">Offline</span>
                                </td>
                                <td class="align-middle text-center">
                                <span class="text-secondary text-xs font-weight-bold">11/01/19</span>
                                </td>
                                <td class="align-middle">
                                <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                    Edit
                                </a>
                                </td>
                            </tr>
                        
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% include 'appadmin/include/footer.html' %}
</div>

{% endblock %}