{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_slide.html' %}
            <main class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        {% include 'orders/my_order/navbar/header.html' %}
                    </div>
                    <div class="card-body">
                        {% if not orders %}
                            <article class="card mb-2">
                                <div class="card-body">
                                    <h4 class="text-center">Your Shopping Order Is Empty</h4>
                                    <br>
                                    <div class="text-center">
                                        <a href="{% url 'store' %}" class="btn btn-primary">Continue Shopping</a>
                                    </div>
                                    
                                </div>
                            </article>
                        {% else %}
                            {% for obj in orders %}
                            <article class="card mb-2">
                                <header class="card-header">
                                    <ul class="row mt-2 mb-2">
                                        <li class="col-md-4">
                                            <strong class="d-inline-block mr-3">Order ID: {{obj.order_number}}</strong>
                                        </li>
                                        <li class="col-md-4">
                                            <span>Date: {{obj.created_at}}</span>
                                        </li>
                                        <li class="col-md-4 text-right">
                                            <!-- <a href="#" class="btn btn-sm btn-outline-primary">Track order</a>  -->
                                            <a href="{% url 'order_detail' obj.order_number %}" class="btn btn-sm btn-light"> Details </a>
                                        </li>
                                    </ul>
                                </header>
                                <div class="card-body">
                                    <div class="row"> 
                                        <div class="col-md-8 mt-2">
                                            <h6 class="text-muted">Delivery to</h6>
                                            <p>{{obj.first_name}} {{obj.last_name}} <br>  
                                            Phone: {{obj.phone}}, Email: {{obj.email}} <br>
                                            Jl: {{obj.address_line_1}}, {{obj.address_line_2}} <br>
                                            Province: {{obj.district.province.name}}, {{obj.district.city.area}}: {{obj.district.city.name}}, {{obj.district.name}}<br>
                                            P.O. Box: {{obj.district.city.post_code}}
                                            </p>
                                        </div>
                                        <div class="col-md-4 mt-2">
                                            <h6 class="text-muted">Payment</h6>
                                            <!-- <span class="text-success">
                                                <i class="fab fa-lg fa-cc-visa"></i>
                                                {{obj.order.payment.payment_method}}  **** 4216  
                                            </span> -->
                                            {% if obj.payment.payment_method == 'bca_VA' %}
                                            <img src="{% static 'images/icons/pembayaran-bca.png' %}" style="width: 50px;">
                                            {% elif obj.payment.payment_method == 'bni_VA' %}
                                            <img src="{% static 'images/icons/pembayaran-bni.png' %}" style="width: 50px;">
                                            {% elif obj.payment.payment_method == 'bri_VA' %}
                                            <img src="{% static 'images/icons/pembayaran-bri.png' %}" style="width: 50px;">
                                            {% else %}
                                            <img src="{% static 'images/icons/pembayaran-mandiri.png' %}" style="width: 50px;">
                                            {% endif %}
                                            <span class=" {% if obj.payment.status == 'pending' %}badge badge-warning {% elif obj.payment.status == 'cancel' or obj.payment.status == 'denny' or obj.payment.status == 'expire' %} badge badge-danger {% else %} badge badge-success {% endif %}">
                                                {{ obj.payment.status }}
                                            </span>
                                            <p>
                                                Type Payment: {{obj.payment.payment_type}} <br>
                                                Subtotal: Rp. {{obj.order_total}}<br>
                                                Cost :  Rp. {{obj.orderdelivery.cost}} <br> 
                                                <span class="b">Total:  Rp. {{obj.payment.amount_paid}} </span>
                                            </p>
                                        </div>
                                    </div> <!-- row.// -->
                                </div> <!-- card-body .// -->

                                <div class="ml-4 mt-2">
                                    <ul class="row">
                                        {% for pro in obj.orderproduct_set.all %}
                                        <li class="col-md-4">
                                            <figure class="itemside  mb-3">
                                                <div class="aside"><img src="{{pro.product.images.url}}" class="img-sm border"></div>
                                                <figcaption class="info align-self-center">
                                                    <p class="title">{{pro.product.product_name}}<br>Variation: {{pro.variation.get}}</p>
                                                    <span class="text-muted">Rp. {{pro.product.price}}</span>
                                                </figcaption>
                                            </figure> 
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </article> <!-- order-group.// --> 
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </main>
        </div> <!-- row.// -->
    </div>
        
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}