{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">My Wislist</h2>   
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">

    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_slide.html' %}
            <main class="col-md-9">
                <article class="card">
                <header class="card-header">
                    <strong class="d-inline-block mr-3">My Wislist:</strong>
                    <span>{{user.full_name}}</span>
                </header>
                <div class="card-body">
                    <div class="row">
                        {% if wishlist %}
                            {% for product in wishlist %} 
                            <div class="col-md-4">
                                <figure class="card card-product-grid  mb-3">
                                    <a href="{{ product.get_url }}">
                                        <div class="img-wrap"> <img src="{{product.images.url}}"> </div>
                                    </a>
                                    <figcaption class="info-wrap">
                                        <a href="{{ product.get_url }}" class="title text-truncate">{{product.product_name}}</a>
                                        <p class="price mb-2">Rp. {{product.price}}</p>
                                        <a href="{% url 'add_cart' product.id %}" class="btn btn-primary btn-sm"> Add to cart </a>
                                        <a href="{% url 'user_wislist' product.id %}" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Remove from wishlist"> <i class="fa fa-times"></i> </a>
                                    </figcaption>
                                </figure>
                            </div> <!-- col.// -->
                            {% endfor %}
                        {% else %}
                            <p class="card-text">No Products have you been added to your wishlist yet</p>
                        {% endif %}

                    </div> <!-- row .//  -->

                </div> <!-- card-body .// -->
                
            </article> <!-- order-group.// --> 
            </main>
        </div> <!-- row.// -->
    </div>
        
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
     

{% endblock content %}