{% extends 'base.html' %}
{% load static chatextras %}

{% block title %}
	Ar-Rasyiid | Chat Room
{% endblock title %}
{% block content %}
<style>
    [data-initials]:before {
        background: #099bdd;
        color: white;
        opacity: 1; 
        content: attr(data-initials); 
        display: inline-block; 
        font-weight: 600; 
        border-radius: 50%; 
        vertical-align: middle; 
        margin-right: 0.5em; 
        width: 50px; 
        height: 50px; 
        line-height: 50px; 
        text-align: center; 
        margin: 5px 8px;
    }
</style>


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Room Chat</h2>   
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-conten padding-y bg">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_slide.html' %}
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block ">Chat Admin Room ID :</strong>
                        <span>{{room.uuid}}</span>
                    </header>
                    <div class="card-body">
                        <div class="row"> 
                            <div class="col-md-12">
                                <b>Name: </b>{{room.client}}<br>
                                <b>Started: </b>{{room.created_at|timesince}} ago<br>
                                <b>Status: </b>{{room.get_status_display}}<br>
                                <b>Page: </b>{{room.url}}<br>
                                <b>Agen: </b>{% firstof room.agent.username 'None yet...' %}
                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                    
                </article> <!-- order-group.// -->
                <br>
                <article class="card">
                    <div class="card-body" style="background-color: rgb(214, 214, 214); height: 300px;">
                        <div class="row"> 
                            <div  id="chat_log" class="col-md-12" style="height: 302px; width: 520px; overflow: scroll;">
                                {% for message in room.messages.all %}

                                    {% if not message.created_by %}
                                        <div class="d-flex flex-row justify-content-start mb-4">
                                            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                                                alt="avatar 1" style="width: 45px; height: 100%;" class="mr-2"> -->
                                            <div data-initials="{{message.send_by|initials}}"></div>
                                            <div>
                                                <p class="small p-2 ms-3 mb-1 mt-3 rounded-xl" style="background-color: #ffffff;">{{message.body}}</p>
                                                <p class="small ms-3 rounded-3 text-muted">{{ message.created_at|timesince }} ago</p>
                                            </div>
                                        </div>
                                    {% else %}
                                    
                                        <div class="d-flex flex-row justify-content-end mb-4">
                                            <div>
                                                <p class="small p-2 me-3 mb-1 mt-3 text-white rounded-3" style="background-color: #349afa;">{{message.body}}</p>
                                                <p class="small me-3 rounded-3 text-muted d-flex justify-content-end">{{message.created_at|timesince}} ago</p>
                                            </div>
                                            <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                                alt="avatar 1" style="width: 45px; height: 100%;" class="ml-2"> -->
                                            <div data-initials="{{message.send_by|initials}}"></div>
                                            
                                        </div>

                                    {% endif %}

                                {% endfor %}

                            </div>
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                    
                </article> <!-- order-group.// -->
                {% if room.status == 'active' %}
                <article class="card">
                    <div class="row"> 
                        <div class="col-md-12" >
                            <div class="input-group">
                                <input type="text" name="body" id="chat_message_input" class="form-control" placeholder="messages">
                                <button id="chat_message_submit" class="btn btn-outline-primary" type="submit"><i class="fas fa-paper-plane"></i></button>
                              </div>
                        </div>
                    </div> <!-- row.// -->
                </article> <!-- order-group.// -->
                {% endif %}
            </main>

        </div>
    </div>
</section>
{% endblock content %}

{% block script %}
    {% if room.status == 'active' %}
    {{room.uuid|json_script:"room_uuid"}}
    {{request.user.username|json_script:"user_name"}}
    {{request.user.id|json_script:"user_id"}}
    <script src="{% static 'js/chat/admin_chat.js'%}"></script>
    {% endif %}
{% endblock script %}
