{% extends 'base.html' %}
{% load static %}
{% block title %}
	Ar-Rasyiid | Chat
{% endblock title %}
{% block content %}


<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
    <div class="container">
        <h2 class="title-page">Rooms Chat</h2>   
    </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<section class="section-conten padding-y">

    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            {% include 'accounts/dashboard_slide.html' %}
            <main class="col-md-9">
                <article class="card mb-3">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Chat Admin</strong>
                        
                    </header>
                    <div class="card-body">
                        <div class="row"> 
                            {% if perms.user.add_user %}
                                <div class="col-md-12">
                                    <h5 mb-4 text-lg>User</h5>
                                    <a class="btn btn-primary rounded-xl" href="#" role="button">Add user</a>
                                </div>
                            {% endif %}
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                    
                </article> <!-- order-group.// --> 
                
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3">Chat Room</strong>
                        <span>{{user.full_name}}</span>
                    </header>
                    <div class="card-body">
                        <div class="row"> 
                            {% for room in rooms %}
                            <div class="col-md-3">
                                <figcaption class="info-wrap">
                                    <div class="card {% if room.status == 'waiting' %} bg-success text-white {% elif room.status == 'active' %} bg-warning text-dark {% else %} text-dark bg-light {% endif %} mb-3" style="opacity: .7;" >
                                        <div class="card-body">
                                            <h3 class="card-title">Chat</h3>
                                            <p>
                                                <b class="mb-1">ID : {{room.uuid}}</b><br>
                                                <b class="mb-1">Name : {{room.client}}</b><br>
                                                <b class="mb-1">Status : {{room.get_status_display}}</b><br>
                                                <b class="mb-1">Agen : {% firstof room.agent.full_name 'Not yet...'%}</b>
                                            </p>
                                            <a href="{% url 'chat:chat-admin-room' room.uuid %}" class=" btn btn-sm btn-block btn-primary">Join</a>
                                            <a href="{% url 'chat:delete-admin-room' room.uuid %}" class=" btn btn-sm btn-block btn-danger">delete</a>
                                        </div>
                                    </div>
                                </figcaption>
                            </div>
                            {% endfor %}
                        </div> <!-- row.// -->
                    </div> <!-- card-body .// -->
                    
                </article> 

            </main>

        </div> <!-- row.// -->
    </div>
        
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
