<ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item">
    <a class="nav-link  {% if '/orders/my_orders/' == request.path %}
    active
    {% endif %}" aria-current="true" href="{% url 'my_orders' %}">
        Belum Bayar
    </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if '/orders/proses/' == request.path %}
            active
            {% endif %}" href="{% url 'proses' %}">
            Proses
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if '/orders/completed/' == request.path %}
            active
            {% endif %}" href="{% url 'completed' %}">
            Selesai
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if '/orders/cencelled/' == request.path %}
            active
            {% endif %}" href="{% url 'cencelled' %}">
            Cencell
        </a>
    </li>
</ul>