<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caht Room</title>
</head>
<body>
    <textarea name="" id="chat-text" cols="30" rows="10"></textarea>
    <input type="text" id="input" size="80">
    <input type="button" id="submit" value="Send">
    
    
    <div id="user-hello"></div>

    {{ room_name|json_script:"room-name" }}
    
    <script>
        document.querySelector('#submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
            }));
            messageInputDom.value = '';

        };


        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        
        const chatSocket = new WebSocket(
            'ws://' +
            window.location.host + 
            '/ws/chat/' + 
            roomName +
            '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data)
            document.querySelector('#user-hello').innerHTML = (data.tester)
        }

    </script>
</body>
</html>