<div id="chat" class="max-w-[300px] fixed right-2 buttom-2 p-4  bg-white border border-gray-300 rounded-xl">
    <div id="chat_icon">
        <button id="chat_open" class="w-[50px] flex items-center">
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
        </button>
        <!-- <button id="chat_open" type="button" class="btn btn-outline-info">
            <i class="fa fa-commenting-o" aria-hidden="true"></i>
        </button> -->
    </div>
    <div id="chat_welocome" class="hidden">
        <input type="text" name="name" id="chat_name">

        <button type="button" id="chat_join" class="btn btn-sm"></button>
    </div>
</div>
