{% extends 'appadmin/base.html' %}

{% block title %}
    Admin | Product All
{% endblock title %}

{% block content %}
<div class="header bg-primary">
    <div class="container-fluid">
        <div class="header-body">
        <div class="row align-items-center">
            <div class="col-lg-10 col-8">
                <nav aria-label="breadcrumb" class="d-md-inline-block">
                    <ol class="breadcrumb ">
                        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}"><i class="fas fa-home"></i></a></li>
                        <li class="breadcrumb-item active"><a href="{% url 'products' %}">Product</a></li>
                        <li class="breadcrumb-item active" aria-current="page"> All</li>
                    </ol>
                </nav>
            </div>
            <div class="col-lg-2 col-4 text-left">
                <a href="{% url 'add_product' %}" type="button" class="btn bg-gradient-success font-weight-bold text-white">
                    <i class="fas fa-plus-circle me-1"></i> Add Product
                </a>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>Products</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center mb-0">
                            <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Product</th>  
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ">Price</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">stock</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for obj in products %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div>
                                                <img src="{{obj.images.url}}" class="avatar avatar-sm me-3">
                                            </div>
                                            <div class="d-flex flex-column justify-content-center">
                                                <h6 class="mb-0 text-sm">{{obj.product_name}}</h6>
                                                <p class="text-xs text-secondary mb-0">{{obj.category}}</p>
                                            </div>
                                        </div>
                                    </td>   
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">Rp. {{obj.price}}</span>
                                    </td>
                                    <td class="align-middle text-center">
                                        <span class="text-secondary text-xs font-weight-bold">{{obj.stock}}</span>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                        <div class="form-check form-switch text-center" >
                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" style="height: 20px;" checked ="">
                                            <label class="form-check-label" for="flexSwitchCheckDefault">{{obj.is_available}}</label>
                                        </div>
                                    </td>
                                    <td class="align-middle">
                                        <a href="{% url 'edit_product' obj.id %}" class="btn btn-sm bg-gradient-secondary mt-2 mb-1" data-toggle="tooltip" data-original-title="Edit Product">
                                            <i class="far fa-edit"></i>
                                        </a><br>
                                        <a href="{% url 'delete_product' obj.id %}" class="btn btn-sm bg-gradient-danger" data-toggle="tooltip" data-original-title="Delete Product" onclick="return confirm('Are you sure want to delete {{obj.product_name}}')">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr class="next-table-expanded-row" style="width: 100px;">
                                    <td colspan="6">
                                        <p>
                                            <button class="table btn bg-gradient-default" type="button" data-bs-toggle="collapse" data-bs-target="#{{obj.slug}}" aria-expanded="false" aria-controls="{{obj.slug}}">
                                                varian show
                                            </button>
                                        </p>
                                        <div class="collapse" id="{{obj.slug}}">
                                            <div class="table card card-body">
                                                <table class="table align-items-center mb-0">
                                                        <tbody>
                                                            {% for vari in obj.variation_set.all %}
                                                            <tr>
                                                                <td>
                                                                    <div class="d-flex px-2 py-1">
                                                                        <div>
                                                                            <img src="{{obj.images.url}}" class="avatar avatar-sm me-3">
                                                                        </div>
                                                                        <div class="d-flex flex-column justify-content-center">
                                                                            <h6 class="mb-0 text-sm">{{obj.product_name}}</h6>
                                                                            <p class="text-xs text-secondary mb-0">{{vari.varian_category}}: {{vari.variation_value}}</p>
                                                                        </div>
                                                                    </div>
                                                                </td>  
                                                                <td class="align-middle text-center">
                                                                    <span class="text-secondary text-xs font-weight-bold">Rp. {{obj.price}}</span>
                                                                </td>
                                                                <td class="align-middle text-center">
                                                                    <span class="text-secondary text-xs font-weight-bold">{{obj.stock}}</span>
                                                                </td>
                                                                <td class="align-middle text-center text-sm">
                                                                    <div class="form-check form-switch text-center">
                                                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" style="height: 20px;" checked>
                                                                        <label class="form-check-label" for="flexSwitchCheckChecked">{{obj.is_available}}</label>
                                                                      </div>
                                                                    <!-- <span class="badge badge-sm bg-gradient-success">{{obj.is_available}}</span> -->
                                                                </td>
                                                                <td class="align-middle">
                                                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                                                        Edit
                                                                    </a>
                                                                </td>
                            
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Pagination -->
            {% if products.has_other_pages %}
            <ul class="pagination pagination-info justify-content-center">
                {% if products.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true"><i class="ni ni-bold-left" aria-hidden="true"></i></span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#link" aria-label="Previous">
                        <span aria-hidden="true"><i class="ni ni-bold-left" aria-hidden="true"></i></span>
                    </a>
                </li>
                {% endif %}

                {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="#link">{{i}}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{i}}">{{i}}</a>
                    </li>
                {% endif %}
                {% endfor %}

                {% if products.has_next %}
                <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true"><i class="ni ni-bold-right" aria-hidden="true"></i></span>
                </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#link" aria-label="Next">
                        <span aria-hidden="true"><i class="ni ni-bold-right" aria-hidden="true"></i></span>
                    </a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
     </div>
    </div>
    

{% endblock %}